# Variables

In [ ]:
import random
import sys
import os

#Comment1
'''Multiline Comment
'''

print("Hellooo Worlddd..!!")

name = 'Soumya'
print("hi" + name)

Hellooo Worlddd..!!
hiSoumya

# Arithmetic Operations

In [ ]:
import random

print("1+1=", 1+1)
print("1-1=", 1-1)
print("5*4=", 5*4)
print("5/2=", 5/2)
print("5%4=", 5%4)
print("5**2=", 5**2)
print("5//2=", 5//2)

# Order of Operation matters : * and / are done before + or -

print("1+2-5*4=", 1+2-5*4)
print("(1+2-5)*4=", (1+2-5)*4)

1+1= 2
1-1= 0
5*4= 20
5/2= 2.5
5%4= 1
5**2= 25
5//2= 2
1+2-5*4= -17
(1+2-5)*4= -8

# Quotations

In [ ]:
import random
quote = "\"An apple a day keeps a doctor away"

multi_line_quote = '''Hi!..
I am doing good..
How are you ? '''

new_string = quote+multi_line_quote

print(quote)
print(multi_line_quote)
print(new_string)

print('\n'*2)

print("%s %s %s"%('I like the quote',quote,multi_line_quote))

"An apple a day keeps a doctor away
Hi!..
I am doing good..
How are you ?
"An apple a day keeps a doctor awayHi!..
I am doing good..
How are you ?



I like the quote "An apple a day keeps a doctor away Hi!..
I am doing good..
How are you ?

# Lists

In [ ]:
import random
import sys
import os

grocery_list = ['Chocolates','Pastry','Fruits']
print('My Favorite Item is:', grocery_list[1])

grocery_list[0] = 'Coconut'
grocery_list[1] = 'Chocolate Pastry'
print('My Favorite Item is:', grocery_list[1])

grocery_list = ['Chocolates','Pastry','Fruits','Carrot','Celery']
print(grocery_list[2:4])

chores = ['dishwash','carwash','cook']
to_do_list = [chores,grocery_list]
print(to_do_list)
print(to_do_list[1][1]) #index of list(chores=0 grocery_list =1), item in that list

grocery_list.append('Lettuce')
print(to_do_list)

grocery_list.insert(0,'Onion')
print(to_do_list)
grocery_list.remove('Onion')
print(to_do_list)
grocery_list.sort
print(to_do_list)
grocery_list.reverse
print(to_do_list)

del grocery_list[4]
print(to_do_list)

to_do_list2 = chores + grocery_list
print(len(to_do_list2))
print(max(to_do_list2))
print(min(to_do_list2))

My Favorite Item is: Pastry
My Favorite Item is: Chocolate Pastry
['Fruits', 'Carrot']
[['dishwash', 'carwash', 'cook'], ['Chocolates', 'Pastry', 'Fruits', 'Carrot', 'Celery']]
Pastry
[['dishwash', 'carwash', 'cook'], ['Chocolates', 'Pastry', 'Fruits', 'Carrot', 'Celery', 'Lettuce']]
[['dishwash', 'carwash', 'cook'], ['Onion', 'Chocolates', 'Pastry', 'Fruits', 'Carrot', 'Celery', 'Lettuce']]
[['dishwash', 'carwash', 'cook'], ['Chocolates', 'Pastry', 'Fruits', 'Carrot', 'Celery', 'Lettuce']]
[['dishwash', 'carwash', 'cook'], ['Chocolates', 'Pastry', 'Fruits', 'Carrot', 'Celery', 'Lettuce']]
[['dishwash', 'carwash', 'cook'], ['Chocolates', 'Pastry', 'Fruits', 'Carrot', 'Celery', 'Lettuce']]
[['dishwash', 'carwash', 'cook'], ['Chocolates', 'Pastry', 'Fruits', 'Carrot', 'Lettuce']]
8
dishwash
Carrot

# Tuples

Cant changes values once created. To change, convert to lists

In [ ]:
import random
import os
import sys

pi_tuple = (3,1,4,1,5,9)
new_tuple = list(pi_tuple)
new_list = tuple(pi_tuple)

print(min(new_list))
print(max(new_list))

1
9

# Dictonaries

In [ ]:
import random
import os
import sys

student = {'name' : 'Soumya', 'subject' : 'Mathematics', 'Marks' : '100'}
print(student)
print(student['Marks'])

del student['subject']
print(student)
print(len(student))
print(student.get('name'))
print(student.keys())
print(student.values())

{'name': 'Soumya', 'subject': 'Mathematics', 'Marks': '100'}
100
{'name': 'Soumya', 'Marks': '100'}
2
Soumya
dict_keys(['name', 'Marks'])
dict_values(['Soumya', '100'])

# Conditionals

In [ ]:
import random
import os
import sys

age = 30

if age>16:
  print('You are old enough to drive')
else:
  print('You are not old enough to drive')

if age>=21:
  print('You are old enough to drive a heavy vehicle')
elif age>=16:
  print('You are old enough to drive a car')
else:
  print('You are not old enough to drive')

if ((age>=1) and (age<=18)):
  print('You get a birthday')
elif ((age==21)or(age>=65)):
  print('You get a birthday')
elif not(age==30):
  print('You dont get a birthday')
else:
  print('You get a birthday party yaayyy')

You are old enough to drive
You are old enough to drive a heavy vehicle
You get a birthday party yaayyy

# Loops

In [ ]:
import random
import os
import sys

for x in range(0,10):
  print(x, '',end="")

  print("\n")

grocery_list = ["Onion","Celery","Cocnut","Apple"]
for y in grocery_list:
    print(y)

for x in [2,4,6,8,10]:
  print(x)

num_list = [[1,2,3],[10,20,30],[100,200,300]]
for x in range(0,3):
  for y in range(0,3):
    print(num_list[x][y])

0

1

2

3

4

5

6

7

8

9

Onion
Celery
Cocnut
Apple
2
4
6
8
10
1
2
3
10
20
30
100
200
300

In [ ]:
import random
import os
import sys

random_num = random.randrange(0,100)

while(random_num != 15):
  print(random_num)
  random_num = random.randrange(0,100)

i=0;

while(i<=20):
  if(i%2==0):
    print(i)
  elif(i==9):
    break
  else:
    i = i+1
    continue

  i+=1

72
47
67
25
9
46
99
89
76
34
58
55
55
24
84
21
11
43
82
4
96
81
81
19
11
72
71
98
76
42
66
0
42
95
26
60
48
82
22
66
16
50
35
93
14
0
2
4
6
8

# Functions

In [ ]:
import random
import os
import sys

def addNumber(fNum, lNum):
  sumNum = fNum+lNum
  return sumNum

string = addNumber(1,9)

print(string)

10

# Input From User

In [ ]:
import random
import os
import sys

print('What is your favorite movie?')

movie = sys.stdin.readline()

#print('Hello', movie)

long_string = "i am good at playing Badminton"

print(long_string[0:4])
print(long_string[-6:]) #last indexes
print(long_string[:-6]) #upto last indexes
print(long_string[:4]+ 'very')
print("%c is my %s letter and my number %d number is %.5f"%
      ('X','favorite',1,.14))
print(long_string.capitalize())
print(long_string.find("Floor"))
print(long_string.isalpha()) #all alphabets?
print(long_string.isalnum()) #all numbers?
print(len(long_string))
print(long_string.replace("Badminton","Basketball"))
print(long_string.strip())
conv_to_list = long_string.split(" ")
print(conv_to_list)

What is your favorite movie?
i am
minton
i am good at playing Bad
i amvery
X is my favorite letter and my number 1 number is 0.14000
I am good at playing badminton
-1
False
False
30
i am good at playing Basketball
i am good at playing Badminton
['i', 'am', 'good', 'at', 'playing', 'Badminton']

# File IO

In [ ]:
import random
import os
import sys

test_file = open("test.txt","wb")
print(test_file.mode)
print(test_file.name)
test_file.write(bytes("Write me to the file\n",'UTF-8'))
test_file.close()

test_file = open("test.txt","r+")

text_in_file = test_file.read()
print(text_in_file)

wb
test.txt
Write me to the file

# Objects

In [ ]:
from typing_extensions import Self
import random
import os
import sys

class Animal:
  __name = ''
  __height = 0
  __weight = 0
  __sound = 0

  def __init__(self, name, height, weight, sound):
     self.__name = name
     self.__height = height
     self.__weight = weight
     self.__sound = sound

  def get_name(self):
      return self.__name

  def get_height(self):
      return self.__height

  def get_weight(self):
      return self.__weight

  def get_sound(self):
      return self.__sound

  def get_type(self):
      print("Animal")

  def toString(self):
        return "{} is {} cm tall and {} kgs and says {}".format(self.__name,
                                                              self.__height,
                                                              self.__weight,
                                                              self.__sound)

cat = Animal('Emily', 25, 6, 'Meow')
print(cat.toString())

class Dog(Animal):
  __owner = ""

  def __init__(self, name, height, weight, sound, owner):
      self.__owner = owner
      super(Dog,self).__init__(name, height, weight, sound)

  def set_owner(self, owner):
      self.__owner = owner

  def get_owner(self):
      return self.__owner

  def get_type(self):
      print("Dog")

  def toString(self):
      return "{} is {} cm tall and {} kgs and says {} His owner is {}".format(self.get_name(),
                                                              self.get_height(),
                                                              self.get_weight(),
                                                              self.get_sound(),
                                                              self.__owner)

  def multiple_sounds(self, how_many=None):
    if how_many is None:
      print(self.get_sound())
    else:
      print(self.get_sound() * how_many)

helen = Dog("Helen", 35, 27, "Woof", "Soumya")

print(helen.toString())

class AnimalTesting:
  def get_type(self, animal):
    animal.get_type()

test_animals = AnimalTesting()
test_animals.get_type(cat)
test_animals.get_type(helen)

helen.multiple_sounds(2)

Emily is 25 cm tall and 6 kgs and says Meow
Helen is 35 cm tall and 27 kgs and says Woof His owner is Soumya
Animal
Dog
WoofWoof